= form_for(@translation) do |f|
  %table
    %tr
      %td
        .field
          = f.label :startMore_pl
          %br/
          = f.text_field :startMore_pl
      %td
        .field
          = f.label :startMore_en
          %br/
          = f.text_field :startMore_en
      %td
        .field
          = f.label :startMore_it
          %br/
          = f.text_field :startMore_it
    %tr
      %td
        .field
          = f.label :aboutHeader_pl
          %br/
          = f.text_field :aboutHeader_pl
      %td
        .field
          = f.label :aboutHeader_en
          %br/
          = f.text_field :aboutHeader_en
      %td
        .field
          = f.label :aboutHeader_it
          %br/
          = f.text_field :aboutHeader_it
    %tr
      %td
        .field
          = f.label :portfolioHeader_pl
          %br/
          = f.text_field :portfolioHeader_pl
      %td
        .field
          = f.label :portfolioHeader_en
          %br/
          = f.text_field :portfolioHeader_en
      %td
        .field
          = f.label :portfolioHeader_it
          %br/
          = f.text_field :portfolioHeader_it
    %tr
      %td
        .field
          = f.label :portfolioMore_pl
          %br/
          = f.text_field :portfolioMore_pl
      %td
        .field
          = f.label :portfolioMore_en
          %br/
          = f.text_field :portfolioMore_en
      %td
        .field
          = f.label :portfolioMore_it
          %br/
          = f.text_field :portfolioMore_it
    %tr
      %td
        .field
          = f.label :carieerHeader_pl
          %br/
          = f.text_field :carieerHeader_pl
      %td
        .field
          = f.label :carieerHeader_en
          %br/
          = f.text_field :carieerHeader_en
      %td
        .field
          = f.label :carieerHeader_it
          %br/
          = f.text_field :carieerHeader_it
    %tr
      %td
        .field
          = f.label :newsHeader_pl
          %br/
          = f.text_field :newsHeader_pl
      %td
        .field
          = f.label :newsHeader_en
          %br/
          = f.text_field :newsHeader_en
      %td
        .field
          = f.label :newsHeader_it
          %br/
          = f.text_field :newsHeader_it
    %tr
      %td
        .field
          = f.label :contactMenu_pl
          %br/
          = f.text_field :contactMenu_pl
      %td
        .field
          = f.label :contactMenu_en
          %br/
          = f.text_field :contactMenu_en
      %td
        .field
          = f.label :contactMenu_it
          %br/
          = f.text_field :contactMenu_it
    %tr
      %td
        .field
          = f.label :contactHeader_pl
          %br/
          = f.text_field :contactHeader_pl
      %td
        .field
          = f.label :contactHeader_en
          %br/
          = f.text_field :contactHeader_en
      %td
        .field
          = f.label :contactHeader_it
          %br/
          = f.text_field :contactHeader_it
    %tr
      %td
        .field
          = f.label :contactFollow_pl
          %br/
          = f.text_field :contactFollow_pl
      %td
        .field
          = f.label :contactFollow_en
          %br/
          = f.text_field :contactFollow_en
      %td
        .field
          = f.label :contactFollow_it
          %br/
          = f.text_field :contactFollow_it
    %tr
      %td
        .field
          = f.label :formName_pl
          %br/
          = f.text_field :formName_pl
      %td
        .field
          = f.label :formName_en
          %br/
          = f.text_field :formName_en
      %td
        .field
          = f.label :formName_it
          %br/
          = f.text_field :formName_it
    %tr
      %td
        .field
          = f.label :formEmail_pl
          %br/
          = f.text_field :formEmail_pl
      %td
        .field
          = f.label :formEmail_en
          %br/
          = f.text_field :formEmail_en
      %td
        .field
          = f.label :formEmail_it
          %br/
          = f.text_field :formEmail_it
    %tr
      %td
        .field
          = f.label :formTel_pl
          %br/
          = f.text_field :formTel_pl
      %td
        .field
          = f.label :formTel_en
          %br/
          = f.text_field :formTel_en
      %td
        .field
          = f.label :formTel_it
          %br/
          = f.text_field :formTel_it
    %tr
      %td
        .field
          = f.label :formContent_pl
          %br/
          = f.text_field :formContent_pl
      %td
        .field
          = f.label :formContent_en
          %br/
          = f.text_field :formContent_en
      %td
        .field
          = f.label :formContent_it
          %br/
          = f.text_field :formContent_it
    %tr
      %td
        .field
          = f.label :salonHeader_pl
          %br/
          = f.text_field :salonHeader_pl
      %td
        .field
          = f.label :salonHeader_en
          %br/
          = f.text_field :salonHeader_en
      %td
        .field
          = f.label :salonHeader_it
          %br/
          = f.text_field :salonHeader_it
    %tr
      %td
        .field
          = f.label :portfolioMenu_pl
          %br/
          = f.text_field :portfolioMenu_pl
      %td
        .field
          = f.label :portfolioMenu_en
          %br/
          = f.text_field :portfolioMenu_en
      %td
        .field
          = f.label :portfolioMenu_it
          %br/
          = f.text_field :portfolioMenu_it
    %tr
      %td
        .field
          = f.label :formSend_pl
          %br/
          = f.text_field :formSend_pl
      %td
        .field
          = f.label :formSend_en
          %br/
          = f.text_field :formSend_en
      %td
        .field
          = f.label :formSend_it
          %br/
          = f.text_field :formSend_it
    %tr
      %td
        .field
          = f.label :formPass_pl
          %br/
          = f.text_field :formPass_pl
      %td
        .field
          = f.label :formPass_en
          %br/
          = f.text_field :formPass_en
      %td
        .field
          = f.label :formPass_it
          %br/
          = f.text_field :formPass_it
    %tr
      %td
        .field
          = f.label :formLogin_pl
          %br/
          = f.text_field :formLogin_pl
      %td
        .field
          = f.label :formLogin_en
          %br/
          = f.text_field :formLogin_en
      %td
        .field
          = f.label :formLogin_it
          %br/
          = f.text_field :formLogin_it
    %tr
      %td
        .field
          = f.label :downloadHeader_pl
          %br/
          = f.text_field :downloadHeader_pl
      %td
        .field
          = f.label :downloadHeader_en
          %br/
          = f.text_field :downloadHeader_en
      %td
        .field
          = f.label :downloadHeader_it
          %br/
          = f.text_field :downloadHeader_it

  .actions
    = f.submit