= form_for(@translation) do |f|
	%ul.collapsible.popout{'data-collapsible' => 'accordion'}
		%li
			.collapsible-header Panel startowy napis nad strzałką więcej
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#startMorePL"} PL
							%li.tab.col.s4
								%a{href: "#startMoreEN"} EN
							%li.tab.col.s4
								%a{href: "#startMoreIT"} IT
				#startMorePL.field
					= f.text_field :startMore_pl
				#startMoreEN.field
					= f.text_field :startMore_en
				#startMoreIT.field
					= f.text_field :startMore_it
		%li
			.collapsible-header Nagłówek panelu O nas
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#aboutHeaderPL"} PL
							%li.tab.col.s4
								%a{href: "#aboutHeaderEN"} EN
							%li.tab.col.s4
								%a{href: "#aboutHeaderIT"} IT
				#aboutHeaderPL.field
					= f.text_field :aboutHeader_pl
				#aboutHeaderEN.field
					= f.text_field :aboutHeader_en
				#aboutHeaderIT.field
					= f.text_field :aboutHeader_it
		%li
			.collapsible-header Nagłówek panelu Portfolio
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#portfolioHeaderPL"} PL
							%li.tab.col.s4
								%a{href: "#portfolioHeaderEN"} EN
							%li.tab.col.s4
								%a{href: "#portfolioHeaderIT"} IT
				#portfolioHeaderPL.field
					= f.text_field :portfolioHeader_pl
				#portfolioHeaderEN.field
					= f.text_field :portfolioHeader_en
				#portfolioHeaderIT.field
					= f.text_field :portfolioHeader_it
		%li
			.collapsible-header Odnośnik w modalach portfolio
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#portfolioMorePL"} PL
							%li.tab.col.s4
								%a{href: "#portfolioMoreEN"} EN
							%li.tab.col.s4
								%a{href: "#portfolioMoreIT"} IT
				#portfolioMorePL.field
					= f.text_field :portfolioMore_pl
				#portfolioMoreEN.field
					= f.text_field :portfolioMore_en
				#portfolioMoreIT.field
					= f.text_field :portfolioMore_it
		%li
			.collapsible-header Nagłówek panelu Kariera
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#carieerHeaderPL"} PL
							%li.tab.col.s4
								%a{href: "#carieerHeaderEN"} EN
							%li.tab.col.s4
								%a{href: "#carieerHeaderIT"} IT
				#carieerHeaderPL.field
					= f.text_field :carieerHeader_pl
				#carieerHeaderEN.field
					= f.text_field :carieerHeader_en
				#carieerHeaderIT.field
					= f.text_field :carieerHeader_it
		%li
			.collapsible-header Nagłówek panelu News
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#newsHeaderPL"} PL
							%li.tab.col.s4
								%a{href: "#newsHeaderEN"} EN
							%li.tab.col.s4
								%a{href: "#newsHeaderIT"} IT
				#newsHeaderPL.field
					= f.text_field :newsHeader_pl
				#newsHeaderEN.field
					= f.text_field :newsHeader_en
				#newsHeaderIT.field
					= f.text_field :newsHeader_it
		%li
			.collapsible-header Kontakt tekst w menu
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#contactMenuPL"} PL
							%li.tab.col.s4
								%a{href: "#contactMenuEN"} EN
							%li.tab.col.s4
								%a{href: "#contactMenuIT"} IT
				#contactMenuPL.field
					= f.text_field :contactMenu_pl
				#contactMenuEN.field
					= f.text_field :contactMenu_en
				#contactMenuIT.field
					= f.text_field :contactMenu_it
		-# %li
		-#   .collapsible-header Niewiadome pole xd
		-#   .collapsible-body
		-#     .row
		-#       .col.s12
		-#         %ul.tabs
		-#           %li.tab.col.s4
		-#             %a{href: "#contactHeaderPL"} PL
		-#           %li.tab.col.s4
		-#             %a{href: "#contactHeaderEN"} EN
		-#           %li.tab.col.s4
		-#             %a{href: "#contactHeaderIT"} IT
		-#     #contactHeaderPL.field
		-#       = f.text_field :contactHeader_pl
		-#     #contactHeaderEN.field
		-#       = f.text_field :contactHeader_en
		-#     #contactHeaderIT.field
		-#       = f.text_field :contactHeader_it
		%li
			.collapsible-header Zachęta do śledzenia stron social w panelu newsy
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#contactFollowPL"} PL
							%li.tab.col.s4
								%a{href: "#contactFollowEN"} EN
							%li.tab.col.s4
								%a{href: "#contactFollowIT"} IT
				#contactFollowPL.field
					= f.text_field :contactFollow_pl
				#contactFollowEN.field
					= f.text_field :contactFollow_en
				#contactFollowIT.field
					= f.text_field :contactFollow_it
		%li
			.collapsible-header Formularz kontaktowy etykieta imienia i nazwiska
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#formNamePL"} PL
							%li.tab.col.s4
								%a{href: "#formNameEN"} EN
							%li.tab.col.s4
								%a{href: "#formNameIT"} IT
				#formNamePL.field
					= f.text_field :formName_pl
				#formNameEN.field
					= f.text_field :formName_en
				#formNameIT.field
					= f.text_field :formName_it
		%li
			.collapsible-header Formularz kontaktowy etykieta maila
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#formEmailPL"} PL
							%li.tab.col.s4
								%a{href: "#formEmailEN"} EN
							%li.tab.col.s4
								%a{href: "#formEmailIT"} IT
				#formEmailPL.field
					= f.text_field :formEmail_pl
				#formEmailEN.field
					= f.text_field :formEmail_en
				#formEmailIT.field
					= f.text_field :formEmail_it
		%li
			.collapsible-header Formularz kontaktowy etykieta telefonu
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#formTelPL"} PL
							%li.tab.col.s4
								%a{href: "#formTelEN"} EN
							%li.tab.col.s4
								%a{href: "#formTelIT"} IT
				#formTelPL.field
					= f.text_field :formTel_pl
				#formTelEN.field
					= f.text_field :formTel_en
				#formTelIT.field
					= f.text_field :formTel_it
		%li
			.collapsible-header Formularz kontaktowy etykieta treści
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#formContentPL"} PL
							%li.tab.col.s4
								%a{href: "#formContentEN"} EN
							%li.tab.col.s4
								%a{href: "#formContentIT"} IT
				#formContentPL.field
					= f.text_field :formContent_pl
				#formContentEN.field
					= f.text_field :formContent_en
				#formContentIT.field
					= f.text_field :formContent_it
		%li
			.collapsible-header Nagłówek panelu Salony
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#salonHeaderPL"} PL
							%li.tab.col.s4
								%a{href: "#salonHeaderEN"} EN
							%li.tab.col.s4
								%a{href: "#salonHeaderIT"} IT
				#salonHeaderPL.field
					= f.text_field :salonHeader_pl
				#salonHeaderEN.field
					= f.text_field :salonHeader_en
				#salonHeaderIT.field
					= f.text_field :salonHeader_it
		%li
			.collapsible-header Hasło pod nagłówkiem panelu Salony
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#salonTextPL"} PL
							%li.tab.col.s4
								%a{href: "#salonTextEN"} EN
							%li.tab.col.s4
								%a{href: "#salonTextIT"} IT
				#salonTextPL.field
					= f.text_field :salonText_pl
				#salonTextEN.field
					= f.text_field :salonText_en
				#salonTextIT.field
					= f.text_field :salonText_it
		%li
			.collapsible-header Nagłowek nad filtrem salonów
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#salonFilterPL"} PL
							%li.tab.col.s4
								%a{href: "#salonFilterEN"} EN
							%li.tab.col.s4
								%a{href: "#salonFilterIT"} IT
				#salonFilterPL.field
					= f.text_field :salonFilter_pl
				#salonFilterEN.field
					= f.text_field :salonFilter_en
				#salonFilterIT.field
					= f.text_field :salonFilter_it
		%li
			.collapsible-header Filtr salonów - państwo
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#salonFilterCountryPL"} PL
							%li.tab.col.s4
								%a{href: "#salonFilterCountryEN"} EN
							%li.tab.col.s4
								%a{href: "#salonFilterCountryIT"} IT
				#salonFilterCountryPL.field
					= f.text_field :salonFilterCountry_pl
				#salonFilterCountryEN.field
					= f.text_field :salonFilterCountry_en
				#salonFilterCountryIT.field
					= f.text_field :salonFilterCountry_it
		%li
			.collapsible-header Filtr salonów - miasto
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#salonFilterCityPL"} PL
							%li.tab.col.s4
								%a{href: "#salonFilterCityEN"} EN
							%li.tab.col.s4
								%a{href: "#salonFilterCityIT"} IT
				#salonFilterCityPL.field
					= f.text_field :salonFilterCity_pl
				#salonFilterCityEN.field
					= f.text_field :salonFilterCity_en
				#salonFilterCityIT.field
					= f.text_field :salonFilterCity_it
		%li
			.collapsible-header Filtr salonów - marka
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#salonFilterBrandPL"} PL
							%li.tab.col.s4
								%a{href: "#salonFilterBrandEN"} EN
							%li.tab.col.s4
								%a{href: "#salonFilterBrandIT"} IT
				#salonFilterBrandPL.field
					= f.text_field :salonFilterBrand_pl
				#salonFilterBrandEN.field
					= f.text_field :salonFilterBrand_en
				#salonFilterBrandIT.field
					= f.text_field :salonFilterBrand_it
		%li
			.collapsible-header Filtr salonów - lokalizacja
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#salonFilterLocalizationPL"} PL
							%li.tab.col.s4
								%a{href: "#salonFilterLocalizationEN"} EN
							%li.tab.col.s4
								%a{href: "#salonFilterLocalizationIT"} IT
				#salonFilterLocalizationPL.field
					= f.text_field :salonFilterLocalization_pl
				#salonFilterLocalizationEN.field
					= f.text_field :salonFilterLocalization_en
				#salonFilterLocalizationIT.field
					= f.text_field :salonFilterLocalization_it
		%li
			.collapsible-header Filtr salonów - menu rozwijalne "Wszystkie"
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#salonFilterAllPL"} PL
							%li.tab.col.s4
								%a{href: "#salonFilterAllEN"} EN
							%li.tab.col.s4
								%a{href: "#salonFilterAllIT"} IT
				#salonFilterAllPL.field
					= f.text_field :salonFilterAll_pl
				#salonFilterAllEN.field
					= f.text_field :salonFilterAll_en
				#salonFilterAllIT.field
					= f.text_field :salonFilterAll_it
		%li
			.collapsible-header Portfolio tekst w menu
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#portfolioMenuPL"} PL
							%li.tab.col.s4
								%a{href: "#portfolioMenuEN"} EN
							%li.tab.col.s4
								%a{href: "#portfolioMenuIT"} IT
				#portfolioMenuPL.field
					= f.text_field :portfolioMenu_pl
				#portfolioMenuEN.field
					= f.text_field :portfolioMenu_en
				#portfolioMenuIT.field
					= f.text_field :portfolioMenu_it
		%li
			.collapsible-header Guzik formularza kontaktowego
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#formSendPL"} PL
							%li.tab.col.s4
								%a{href: "#formSendEN"} EN
							%li.tab.col.s4
								%a{href: "#formSendIT"} IT
				#formSendPL.field
					= f.text_field :formSend_pl
				#formSendEN.field
					= f.text_field :formSend_en
				#formSendIT.field
					= f.text_field :formSend_it
		%li
			.collapsible-header Formularz logowania etykieta hasła
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#formPassPL"} PL
							%li.tab.col.s4
								%a{href: "#formPassEN"} EN
							%li.tab.col.s4
								%a{href: "#formPassIT"} IT
				#formPassPL.field
					= f.text_field :formPass_pl
				#formPassEN.field
					= f.text_field :formPass_en
				#formPassIT.field
					= f.text_field :formPass_it
		%li
			.collapsible-header Guzik formularza logowania
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#formLoginPL"} PL
							%li.tab.col.s4
								%a{href: "#formLoginEN"} EN
							%li.tab.col.s4
								%a{href: "#formLoginIT"} IT
				#formLoginPL.field
					= f.text_field :formLogin_pl
				#formLoginEN.field
					= f.text_field :formLogin_en
				#formLoginIT.field
					= f.text_field :formLogin_it
		%li
			.collapsible-header Nagłówek panelu Download
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#downloadHeaderPL"} PL
							%li.tab.col.s4
								%a{href: "#downloadHeaderEN"} EN
							%li.tab.col.s4
								%a{href: "#downloadHeaderIT"} IT
				#downloadHeaderPL.field
					= f.text_field :downloadHeader_pl
				#downloadHeaderEN.field
					= f.text_field :downloadHeader_en
				#downloadHeaderIT.field
					= f.text_field :downloadHeader_it
		%li
			.collapsible-header Przycisk Mapy
			.collapsible-body
				.row
					.col.s12
						%ul.tabs
							%li.tab.col.s4
								%a{href: "#mapPL"} PL
							%li.tab.col.s4
								%a{href: "#mapEN"} EN
							%li.tab.col.s4
								%a{href: "#mapIT"} IT
				#mapPL.field
					= f.text_field :map_pl
				#mapEN.field
					= f.text_field :map_en
				#mapIT.field
					= f.text_field :map_it

	.actions.shifted
		%button.btn.waves-effect.waves-light{type: "submit", name: "action"} Zapisz