<p id="notice"><%= notice %></p>

<p>
  <strong>Startmore pl:</strong>
  <%= @translation.startMore_pl %>
</p>

<p>
  <strong>Startmore en:</strong>
  <%= @translation.startMore_en %>
</p>

<p>
  <strong>Startmore it:</strong>
  <%= @translation.startMore_it %>
</p>

<p>
  <strong>Aboutheader pl:</strong>
  <%= @translation.aboutHeader_pl %>
</p>

<p>
  <strong>Aboutheader en:</strong>
  <%= @translation.aboutHeader_en %>
</p>

<p>
  <strong>Aboutheader it:</strong>
  <%= @translation.aboutHeader_it %>
</p>

<p>
  <strong>Portfolioheader pl:</strong>
  <%= @translation.portfolioHeader_pl %>
</p>

<p>
  <strong>Portfolioheader en:</strong>
  <%= @translation.portfolioHeader_en %>
</p>

<p>
  <strong>Portfolioheader it:</strong>
  <%= @translation.portfolioHeader_it %>
</p>

<p>
  <strong>Portfoliomore pl:</strong>
  <%= @translation.portfolioMore_pl %>
</p>

<p>
  <strong>Portfoliomore en:</strong>
  <%= @translation.portfolioMore_en %>
</p>

<p>
  <strong>Portfoliomore it:</strong>
  <%= @translation.portfolioMore_it %>
</p>

<p>
  <strong>Carieerheader pl:</strong>
  <%= @translation.carieerHeader_pl %>
</p>

<p>
  <strong>Carieerheader en:</strong>
  <%= @translation.carieerHeader_en %>
</p>

<p>
  <strong>Carieerheader it:</strong>
  <%= @translation.carieerHeader_it %>
</p>

<p>
  <strong>Contactheader pl:</strong>
  <%= @translation.contactHeader_pl %>
</p>

<p>
  <strong>Contactheader en:</strong>
  <%= @translation.contactHeader_en %>
</p>

<p>
  <strong>Contactheader it:</strong>
  <%= @translation.contactHeader_it %>
</p>

<p>
  <strong>Contactfollow pl:</strong>
  <%= @translation.contactFollow_pl %>
</p>

<p>
  <strong>Contactfollow en:</strong>
  <%= @translation.contactFollow_en %>
</p>

<p>
  <strong>Contactfollow it:</strong>
  <%= @translation.contactFollow_it %>
</p>

<p>
  <strong>Formname pl:</strong>
  <%= @translation.formName_pl %>
</p>

<p>
  <strong>Formname en:</strong>
  <%= @translation.formName_en %>
</p>

<p>
  <strong>Formname it:</strong>
  <%= @translation.formName_it %>
</p>

<p>
  <strong>Formemail pl:</strong>
  <%= @translation.formEmail_pl %>
</p>

<p>
  <strong>Formemail en:</strong>
  <%= @translation.formEmail_en %>
</p>

<p>
  <strong>Formemail it:</strong>
  <%= @translation.formEmail_it %>
</p>

<p>
  <strong>Formtel pl:</strong>
  <%= @translation.formTel_pl %>
</p>

<p>
  <strong>Formtel en:</strong>
  <%= @translation.formTel_en %>
</p>

<p>
  <strong>Formtel it:</strong>
  <%= @translation.formTel_it %>
</p>

<p>
  <strong>Formcontent pl:</strong>
  <%= @translation.formContent_pl %>
</p>

<p>
  <strong>Formcontent en:</strong>
  <%= @translation.formContent_en %>
</p>

<p>
  <strong>Formcontent it:</strong>
  <%= @translation.formContent_it %>
</p>

<p>
  <strong>Salonheader pl:</strong>
  <%= @translation.salonHeader_pl %>
</p>

<p>
  <strong>Salonheader en:</strong>
  <%= @translation.salonHeader_en %>
</p>

<p>
  <strong>Salonheader it:</strong>
  <%= @translation.salonHeader_it %>
</p>

<%= link_to 'Edit', edit_translation_path(@translation) %> |
<%= link_to 'Back', translations_path %>
