= form_for(@portfolio) do |f|
  .form-group
    .label Tytuł PL
    = f.text_field :title_pl, class: "form-control"
  .form-group
    .label Treść PL
    = f.text_area :content_pl, class: "form-control tinymce"

  .form-group
    .label Tytuł EN
    = f.text_field :title_en, class: "form-control"
  .form-group
    .label Treść EN
    = f.text_area :content_en, class: "form-control tinymce"

  .form-group
    .label Tytuł IT
    = f.text_field :title_it, class: "form-control"
  .form-group
    .label Treść IT
    = f.text_area :content_it, class: "form-control tinymce"

  .form-group
    .label Logo marki
    = f.file_field :brand, class: "form-control"
  .form-group
    .label Obrazek
    = f.file_field :img, class: "form-control"

  .form-group
  = f.submit