.row
	.col.s12
		%ul.tabs
			%li.tab.col.s4
				%a.active{href: "#portfolioPL"} PL
			%li.tab.col.s4
				%a{href: "#portfolioEN"} EN
			%li.tab.col.s4
				%a{href: "#portfolioIT"} IT

.row
	.col.s12
		.card
			.card-image
				= image_tag @portfolio.brand.url
			#portfolioPL.card-content
				%h4
					= @portfolio.title_pl
				%p
					=raw @portfolio.content_pl
				- if @portfolio.www.nil?
					%p Brak adresu sklepu
				- else
					= link_to @portfolio.www, @portfolio.www, class: "button"
			#portfolioEN.card-content
				%h4
					= @portfolio.title_en
				%p
					=raw @portfolio.content_en
			#portfolioIT.card-content
				%h4
					= @portfolio.title_it
				%p
					=raw @portfolio.content_it
			
.fixed-action-btn
	%a.btn-floating.btn-large{href: edit_portfolio_path(@portfolio)}
		%i.fa.fa-pencil