<p id="notice"><%= notice %></p>

<h1>Listing Made In Gs</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @made_in_gs.each do |made_in_g| %>
      <tr>
        <td><%= made_in_g.content %></td>
        <td><%= link_to 'Show', made_in_g %></td>
        <td><%= link_to 'Edit', edit_made_in_g_path(made_in_g) %></td>
        <td><%= link_to 'Destroy', made_in_g, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Made in g', new_made_in_g_path %>
