<p>
  <strong>Content PL:</strong>
  <%= @made_in_g.content_pl %>
</p>

<p>
  <strong>Content EN:</strong>
  <%= @made_in_g.content_en %>
</p>

<p>
  <strong>Content IT:</strong>
  <%= @made_in_g.content_it %>
</p>

<p>
  <strong>Obrazek:</strong>
</p>
<%= image_tag @made_in_g.img.url %>
<br>

<%= link_to 'Edit', edit_made_in_g_path(@made_in_g) %> |
<%= link_to 'Back', made_in_gs_path %>
