<p>
  <strong>Date:</strong>
  <%= @news.date %>
</p>

<p>
  <strong>Title PL:</strong>
  <%= @news.title_pl %>
</p>

<p>
  <strong>Title EN:</strong>
  <%= @news.title_en %>
</p>

<p>
  <strong>Title IT:</strong>
  <%= @news.title_it %>
</p>

<p>
  <strong>Short PL:</strong>
  <%= @news.short_pl %>
</p>

<p>
  <strong>Short EN:</strong>
  <%= @news.short_en %>
</p>

<p>
  <strong>Short IT:</strong>
  <%= @news.short_it %>
</p>

<p>
  <strong>Content PL:</strong>
  <%= @news.content_pl %>
</p>

<p>
  <strong>Content EN:</strong>
  <%= @news.content_en %>
</p>

<p>
  <strong>Content IT:</strong>
  <%= @news.content_it %>
</p>

<p>
  <strong>Active:</strong>
  <%= @news.active %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
