%h1 Salony

%table
	%thead
		%tr
			%th Marka
			%th Kraj
			%th Miasto
			%th{colspan: 2}
	%tbody
		- @salons.each do |s|
			%tr
				%td #{s.brand}
				%td #{s.country}
				%td #{s.city}
				%td 
					= link_to 'Edytuj', edit_salon_path(s)
				%td
					= link_to 'Usuń', s, method: :delete, data: { confirm: 'Are you sure?' }

.fixed-action-btn
	%a.btn-floating.btn-large{href: new_salon_path}
		%i.fa.fa-plus