- content_for :custom_js do
	= javascript_include_tag 'googleMap'

%article#main
	%header
		%h2 Salony
		%p Sprawdź gdzie posiadamy swoje salony

	#map-canvas

	.inner
		.wrapper.style1.special.map-filter
			%h3 Filtr salonów
			.container
				.row
					.form-group.4u
						%label Państwo
						%select#country
							%option{value: "null"} Wszystkie 
					.form-group.4u
						%label Miasto
						%select#city
							%option{value: "null"} Wszystkie
					.form-group.4u
						%label Marka
						%select#brand
							%option{value: "null"} Wszystkie
			%h3 Salony
			.row.container.header
				.2u Marka
				.3u Adres
				.2u Miasto
				.5u Opis
			#salon-list.container
				- @salons.each do |s|
					.row
						.2u
							= s.brand
						.3u
							= s.address
						.2u
							= s.city
						.5u
							= s.description

	%script
		= "var mapPins = ["
		- @salons.each_with_index do |s, i|
			- if i != 0
				= ","
			= "{id: '#{s.id}', brand: '#{s.brand}', positionX: #{s.posX}, positionY: #{s.posY}, country: '#{s.country}', city: '#{s.city}', address: '#{s.address}', description: '#{s.description}'}"
		= "];"