<%= form_for(@page) do |f| %>
  <div class="field">
    <%= f.label :startText %><br>
    <%= f.text_area :startText %>
  </div>
  <div class="field">
    <%= f.label :aboutText %><br>
    <%= f.text_area :aboutText %>
  </div>
  <div class="field">
    <%= f.label :retailAcademyText %><br>
    <%= f.text_area :retailAcademyText %>
  </div>
  <div class="field">
    <%= f.label :carieerText %><br>
    <%= f.text_area :carieerText %>
  </div>
  <div class="field">
    <%= f.label :contactText %><br>
    <%= f.text_area :contactText %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
