<p id="notice"><%= notice %></p>

<p>
  <strong>Starttext:</strong>
  <%= @page.startText %>
</p>

<p>
  <strong>Abouttext:</strong>
  <%= @page.aboutText %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
